* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: "color Basic";
  color: var(--Lpurple);
}

.HERO {
  justify-self: center;
  align-self: center;
}

.temagrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.temagrid figure {
  display: block;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #616161;
  border: none;
}

.T_grid {
  height: 80vh;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr;
}

.T_Title {
  border-right: 5px solid var(--Lpurple);
}
.T_Title figure {
  background-color: var(--orange-color);
  width: 80%;
  height: 80%;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}
._3p {
  display: grid;
}
._3p .prosection {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 0;
  border-top: 5px solid var(--Lpurple);
}
._3p .prosection:nth-child(2) {
  height: 80vh;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .temagrid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .T_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr;
  }
  .T_Title {
    border-right: none;

    display: flex;
    align-items: center;
  }
  .T_Title figure {
    height: 60%;
    width: 80%;
  }
}
