* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--orange-color);
}
.activeA {
  color: var(--orange-color);
}
figure a h2 {
  color: var(--main-bg-color);
}
::-webkit-scrollbar {
  display: none;
}
header nav {
  position: fixed;
  top: 4.5rem;
  left: 50%;

  padding: 1.5rem;
  background-color: var(--main-bg-color);
  font-family: "Color Basic";
  font-size: 1.2rem;
}
nav {
  font-family: "Color Basic";
}
.Tnav {
  padding-left: 2.2rem;
  font-size: 1.3rem;
}
.Tnav a {
  color: var(--orange-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: "color Basic";
  color: var(--Lpurple);
}

.HERO {
  justify-self: center;
  align-self: center;
}

.temagrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.temagrid figure {
  display: block;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--Dpurple);
  border: none;
}
.temagrid figure:hover {
  background-color: var(--Lpurple);
  transform: scale(1.2);
}

.T_grid {
  height: 80vh;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr;
}

.T_Title {
  border-right: 5px solid var(--Lpurple);
}

.T_Title figure {
  background-color: var(--orange-color);
  width: 80%;
  height: 80%;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}
._3p {
  display: grid;
  margin-right: 20%;
}
._3p .prosection {
  display: grid;
  justify-content: left;
  align-items: left;
  padding: 2rem;
  padding-top: 0;
  border-top: 5px solid var(--Lpurple);
}
._3p .prosection:nth-child(2) {
  height: 50vh;
  overflow-y: auto;
}
.hero {
  width: 600px;
  justify-self: center;
  align-self: center;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Article list */
.info-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Individual article */
.info-article {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

/* Remove line from last article */
.info-article:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/* Article image */
.info-article img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 4px;
}

/* Responsive adjustment */

@media (max-width: 800px) {
  .temagrid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .T_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr;
  }
  .T_Title {
    border-right: none;

    display: flex;
    align-items: center;
  }
  .T_Title figure {
    height: 60%;
    width: 80%;
  }
  .info-article {
    width: 100%;
    flex-direction: row;
  }

  .info-article img {
    width: 90px;
    height: 60px;
  }
}
