* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--orange-color);
}
.activeA {
  color: var(--orange-color);
}
figure a h2 {
  color: var(--main-bg-color);
}
::-webkit-scrollbar {
  display: none;
}
header nav {
  position: fixed;
  top: 4.5rem;
  left: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  background-color: var(--main-bg-color);
  font-family: "Color Basic";
  font-size: 1.2rem;
}
nav {
  font-family: "Color Basic";
}
.Tnav {
  padding-left: 2.2rem;
  font-size: 2rem;
  gap: 2rem;
}
.Tnav a {
  color: var(--orange-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: "color Basic";
  color: var(--Lpurple);
}

.HERO {
  justify-self: center;
  align-self: center;
  margin-top: 50px;
}
.HERO img:hover {
  transform: translateY(-10px);
  opacity: 0.9;
  transition: 0.3s ease;
}

.CTA {
  display: flex;
  background-color: var(--orange-color);
  padding: 1rem 2rem;
  margin-top: 2rem;

  border: none;
  border-radius: 5px;
  font-family: "Color Basic";
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-bg-color);
  cursor: pointer;
}
.CTA a {
  color: var(--main-bg-color);
}
.CTA:hover {
  background-color: var(--Dpurple);
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.temagrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 300px;
  text-align: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.temagrid figure {
  display: block;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--Dpurple);
  border: none;
}
.temagrid figure:hover {
  background-color: var(--orange-color);
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.T_grid {
  height: 80vh;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr;
}

.T_Title {
  border-right: 5px solid var(--Lpurple);
}

.T_Title figure {
  background-color: var(--orange-color);
  width: 80%;
  height: 80%;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.T_Title figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}
._3p {
  display: grid;
  margin-right: 20%;
}
._3p .prosection {
  display: grid;
  justify-content: left;
  align-items: left;
  padding: 2rem;
  padding-top: 0;
  border-top: 5px solid var(--Lpurple);
}
._3p .prosection:nth-child(2) {
  height: 50vh;
  overflow-y: auto;
}
.hero {
  width: 600px;
  justify-self: center;
  align-self: center;
  height: auto;
  display: block;
  margin: 0 auto;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-article {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.info-article:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.info-article img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 4px;
}
.cv-article {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid #ddd;
}

.contact-section {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.contact-section h1 {
  justify-self: left;
}

.contact-content {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.contact-info {
  flex: 1;
}

.contact-info a {
  text-decoration: none;
  color: var(--Dpurple);
}

.contact-info a h3:hover {
  color: var(--orange-color);
}
.social-links {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.social-links a {
  font-weight: 500;
}

.contact-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-image img {
  width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .HERO img {
    width: 400px;
    margin-top: 100px;
  }
  header nav {
    position: fixed;
    top: 4.5rem;
    left: 40%;
  }
  .temagrid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .T_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr;
  }
  .T_Title {
    border-right: none;

    display: flex;
    align-items: center;
  }
  .T_Title figure {
    height: 60%;
    width: 80%;
  }
  .info-article {
    width: 100%;
    flex-direction: row;
  }

  .info-article img {
    width: 150px;
    height: 150px;
  }

  .contact-content {
    flex-direction: column;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }

  .contact-image img {
    width: 200px;
  }
  #tematitel {
    font-size: 2rem;
  }
}
